
.important-text {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 32, 32);
}

.main-text {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 32, 32);
}

h2 {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 32, 32);
    text-align: center;
    margin-bottom: 20px;
}

header nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    height: 200px;
}

#logo {
    width: 15%;
    max-width: 200px;
    min-width: 100px;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

#location img {
    width: 50px;
    margin-right: 25px;
    margin-bottom: 5px;
}

#location p {
    text-wrap: pretty;
    padding: none;
    margin: none;
}

#lower-nav a {
    display: block;
    width: 25% !important;
    height: 100%;
    border-radius: 0;
    border: none;
}

main {
    padding: 0 0 !important;
}

section {
    width: 100%;
    background-color: rgb(187, 187, 187);
    padding: 5% 5%;
}

#carousel_main {
    position: relative;
}

#call-button {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 320;
    height: 100px;
    text-wrap: pretty;
    align-content: center;
}

#form-buttons {
    display: flex;
    justify-content: space-between;
    justify-items: right;
    align-items: center;
    padding-left: 30%;
} 

#form-buttons > * {
    display: block;
    width: 42%;
    height: 75px;
} 

footer > * {
    display: block;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    padding: 0 100px !important;
}

footer p {
    text-wrap: pretty;
}

#social-media {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

#social-media img {
    display: block;
    width: 100px;
}